@{
    ViewData["Title"] = "ManagerHome";
}

<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">0</div>
            <div class="cardName">Active orders</div>
        </div>

        <div class="iconBx">
            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers" id="equipmentCount">0</div> 
            <div class="cardName">Equipment</div>
        </div>
        <div class="iconBx">
            <ion-icon name="construct-outline"></ion-icon>
        </div>
    </div>


    <div class="card">
        <div>
            <div class="numbers" id="availableTechnicians">0</div>
            <div class="cardName">Active workers</div>
        </div>

        <div class="iconBx">
            <ion-icon name="body-outline"></ion-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">0 lei</div>
            <div class="cardName">Earning</div>
        </div>

        <div class="iconBx">
            <ion-icon name="cash-outline"></ion-icon>
        </div>
    </div>
</div>

<!-- ================ Order Details List ================= -->
<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Recent Orders</h2>
            <a asp-controller="Orders" asp-action="Orders" class="btn">View All</a>
        </div>

        <div id="ordersContainer">
            <table id="recentOrdersTable">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Price</td>
                        <td>Payment</td>
                        <td>Status</td>
                    </tr>
                </thead>

                <tbody id="ordersBody">
                    <tr class="loading-row">
                        <td colspan="4">
                            <div class="loading-container">
                                <div class="spinner"></div>
                                <p class="loading-text">Loading recent orders...</p>
                            </div>
                        </td>
                    </tr>
                </tbody>


            </table>
        </div>
    </div>

    <!-- ================= New Customers ================ -->
    <div class="recentCustomers">
        <div class="cardHeader">
            <h2>Customers</h2>
        </div>

        <table id="customersTable">
            <tbody>
                <tr class="loading-row">
                    <td colspan="2" class="loading-text">Loading customers...</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<script src="~/js/Home/ManagerHome.js"></script>